body{
    margin: 0;
}
.part-1{display: flex;
    margin: 3%;
    width: 95%;
    margin-bottom: 3%;
}
#same-color{
    color: rgb(83, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500px;  
}
#diffrent-color{
    font-size: 40;
    color: orangered;
    font-size: 40px;
    font-weight: 500px;
}
#link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon,orange);
    padding: 12px 17px 12px 17px;
    color: honeydew;
    border-radius: 25px;
    margin-bottom: 20px;
    
}
#pic-1{
    width: 100%;
    border-bottom: 2%
}   
#pic-2{
    width: 150%;
    height:400px ;
    
    
}
.part-2{
    position:relative;
    margin: 0 auto;
    display: flex;
    margin: 2%;
    width: 95%;
    margin-bottom: 3%;
    background-image: url(images/banner5.jpg);
}
.top-4{
    padding-top: 120px;
    text-align: center;
}
#foods{
  width: 90%;
  border-radius: 15px;
  padding-left: 13.5px;

}
.part-4{
    display: flex;
   
}
.top-5{
    font-weight: 700px;
    text-align: center;
    font-size: 22px;
    color: gray;
}
.top-6{
    box-shadow: 10px 5px 30px rgb(218, 91, 32);
    width: 50%;
    margin-left: 3%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 3%;
    border-radius: 15px;
    padding-top: 30px;
}
.top-7{
    
    box-shadow: 10px 5px 30px rgb(113, 32, 218);
    width: 50%;
    margin-left: 3%;
    padding-left: 30px;
    padding-right: 20px;
    margin-right: 3%;
    border-radius: 15px;
    padding-top: 30px;
}
.top-8{
    
    box-shadow: 10px 5px 30px rgb(32, 218, 79);
    width: 50%;
    margin-left: 3%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 3%;
    border-radius: 15px;
    padding-top: 30px;
}

.top-9{
    background-color: rgb(12, 1, 32);
    text-align: center;
    
}
footer{
    color: blanchedalmond;
}



